*.csv filter=lfs diff=lfs merge=lfs -text
E:/Concordia/ADTA/ADTA_MP2/ADTA_MP2/Indexing-Framework-for-3D-Spatial-Data/cordinates_large.csv filter=lfs diff=lfs merge=lfs -text
E:/Concordia/ADTA/-Indexing-Framework-for-3D-Spatial-Data/coordinates_large.csv filter=lfs diff=lfs merge=lfs -text
